.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  user-select: none;
}
.react-grid-item img {
  pointer-events: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  opacity: 0.2;
  transition-duration: 100ms;
  border-radius: 36px;
  border: 4px dashed #777;
  z-index: 2;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  /*border: 3px solid red;*/
  border-radius: 6px;
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  right: 0;
  bottom: 0;
  /*transform: translate(-50%, -50%);*/
  cursor: nwse-resize;
}
